body
{
    font-family:"Segoe UI",Tahoma,sans-serif;
    background-color:#fab66b;
}
p {
    color: navy;
}
.sale {
    font-weight:bold;
    background-color:aqua;
}
#sidenote {
    background-color:rgb(87, 196, 240);
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
    font-weight: bold;
}